<div class="toast-container">
  <ng-template ViewRef></ng-template>
</div>
<div class="parent-card">
  <header>
    <i id="uploaded-icon" class="fa-solid fa-circle-check"></i>
    <h1>Uploaded Successfully!</h1>
  </header>
  <div class="card-container">
    <img class="uploaded-image" src="{{ link }}" alt="Image"/>
    <div class="image-link-container">
      <p class="image-link-text">{{ link }}</p>
      <button class="image-link-copy" (click)="copyToClipboard(link)">Copy Link</button>
    </div>
  </div>
</div>
