<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:href="@{/styles/error.css}" rel="stylesheet" />

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Noto+Sans:wght@500&family=Poppins:wght@500&display=swap" rel="stylesheet">

    <title>Image not found!</title>
</head>
<body>
  <section>
    <h1>404</h1>
    <h2>The image you are looking for can't be found.</h2>
    <a href="https://image-uploader-elliot.vercel.app/" rel="nofollow noopener noreferrer">Upload a new image</a>
  </section>
</body>
</html>
