body {
    margin-block-start: 0;
    margin-block-end: 0;
    margin: 0;
    padding: 0;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: auto;
    min-height: 100vh;
    padding: 10px;
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 17em;
    color: #2a2a2a;
    font-weight: bolder;
    line-height: 1.2em;
    margin: 0;
}

h2 {
    font-size: 1.4em;
    font-family: 'Poppins', sans-serif;
    color: #5e5e5e;
    font-weight: bold;
    margin-bottom: 5%;
    text-align: center;
}

a {
    background-color: #2F80EDFF;
    color: #FFF;
    text-decoration: none;
    cursor: pointer;
    padding: 1.2rem 2.1rem;
    font-family: 'Poppins', sans-serif;
    font-size: 1.3rem;
    border: none;
    border-radius: 1.7vmin;
}

/* MEDIA QUERIES */

/* -------- DESKTOP -------- */
@media only screen and (min-width: 640px) and (max-width: 3840px){
    body {
        transition: width .5s ease-in-out;
    }
}

/* -------- MOBILE -------- */
@media only screen and (min-width: 320px) and (max-width: 640px){
    /* TEXT */
    h1 {
        font-size: 8em;
    }
    h2 {
        font-size: 1.1em;
        margin-bottom: 25%;
    }
    a {
        font-size: 1.3em;
        padding: 1em 1.8rem;
    }
}

/* -------- SMALL DEVICES -------- */
@media only screen and (min-width: 0px) and (max-width: 320px) {
    /* TEXT */
    h1 {
        font-size: 5em;
    }
    h2 {
        font-size: 1em;
        margin-bottom: 15%;
    }
    a {
        font-size: 1em;
        padding: 1em 1.7rem;
    }
}